<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>


<form th:action="@{/main}" method="post">
    <input type="text" name="text" placeholder="ввыдите сообщение">
    <input type="text" name="tag" placeholder="тэг">
    <button type="submit">Добавить</button>
</form>
<div>Список всего</div>
<table>
    <tr th:each="mess : ${messages}">
        <td th:text="${mess.id}"></td>
        <td th:text="${mess.text}"></td>
        <td th:text="${mess.tag}"></td>

    </tr>
</table>


</body>
</html>